<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('partials/header') %>

  <div class="container">

    <% userForms.forEach(function(user){ %>
    <h4>Form Title : <%= user.formTitle %></h4>
    <div class="card card-css">
      <div class="card-body">
        <table class="table">
          <tr>
            <th>Fields</th>
            <th>Value</th>
            <th>Units</th>
          </tr>
          <tbody>
            <tr>
              <td>Start Date</td>
              <td><%= user.startDate %></td>
              <td>-</td>
            </tr>
            <tr>
              <td>End Date</td>
              <td><%= user.endDate %></td>
              <td>-</td>
            </tr>
            <tr>
              <td>Types of Jute Used</td>
              <td><%= user.juteTypes.whiteJute %><br><%= user.juteTypes.tossaJute %><br><%= user.juteTypes.mestaJute %><br><%= user.juteTypes.juteCuttings %></td>
              <td>-</td>
            </tr>
            <tr>
              <td>Area of Land Owned</td>
              <td><%= user.areaOfLandOwned %></td>
              <td>sq ft.</td>
            </tr>
            <tr>
              <td>Area of Land Used</td>
              <td><%= user.areaOfLandUsed %></td>
              <td>sq ft.</td>
            </tr>
            <tr>
              <td>Labourers Hired</td>
              <td><%= user.labourersHired %></td>
              <td>-</td>
            </tr>
            <tr>
              <td>Labourers Wage per Day</td>
              <td><%= user.labourersWagePerDay %></td>
              <td>-</td>
            </tr>
            <tr>
              <td>Land Rent</td>
              <td><%= user.farmLandRent %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Godwon Rent</td>
              <td><%= user.Expenses.godownRent %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Seeds Cost</td>
              <td><%= user.Expenses.seedsCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Plant Protection Chemical Cost</td>
              <td><%= user.Expenses.plantProtectionChemicalCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Farm Yard Manure(FYM) Cost</td>
              <td><%= user.Expenses.farmYardManureCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Fertilizers Cost</td>
              <td><%= user.Expenses.fertilizersCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Ploughing Cost</td>
              <td><%= user.Expenses.ploughingCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Irrigation Cost</td>
              <td><%= user.Expenses.irrigationCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Harvesting Cost</td>
              <td><%= user.Expenses.harvestingCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Transport Cost</td>
              <td><%= user.Expenses.transportCost %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Selling Price per Unit</td>
              <td><%= user.sellingPricePerUnit %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Discounts</td>
              <td><%= user.discounts %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <td>Total Units Produced</td>
              <td><%= user.totalUnitsProduced %></td>
              <td>per Kg.</td>
            </tr>
            <tr>
              <td>Total Units Sold</td>
              <td><%= user.totalUnitsSold %></td>
              <td>per Kg.</td>
            </tr>
            <tr>
              <td>Total Sales</td>
              <td><%= user.totalSales %></td>
              <td>(₹)Rupees</td>
            </tr>
            <tr>
              <th>Expected Net Income <br>(based on SP per unit)</th>
              <th><%= user.expectedNetIncome %></th>
              <th>(₹)Rupees</th>
            </tr>
            <tr>
              <th>Net Income</th>
              <th><%= user.netIncome %></th>
              <th>(₹)Rupees</th>
            </tr>



          </tbody>
        </table>
      </div>
    </div>
    <% }); %>
  </div>


  <%- include ('partials/footer') %>

</html>
